#error{
    height: 100%;
    width: auto;
    padding-top: 100px;
    align-items: center;
    align-content: center;
}
#error h1 + h2 + button{
    padding: 10px;
    position: absolute;
}
#error button{
    align-self: center;
    margin-left: 50px;
}
#error h1{
    margin-left: 55px;
}
