#nav-pagination{
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
  }

#list-pagination p {
    border: 1px solid #ddd; 
    background-color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: normal;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    width: 12px;
    align-content: space-around;
    align-items: center;
    width: auto;
  }
  #list-pagination p.active {
    background-color: rgb(232, 187, 119);
    color: black;
    font-weight: bolder;
  }
  
  #list-pagination p:hover:not(.active) {
    background-color: #ddd;
    cursor:pointer;
    font-weight: bold;
        
    }